/* This is a CSS file */

:root {
  --light-color1: #F4F7BE;
  --light-color2: #E5F77D;
  --light-color3: #DEDA6F;
  --dark-color1: #823038;
  --dark-color2: #1E000E;
}

@font-face {
    font-family: poppins;
    src: url('../fonts/poppins/Poppins-Regular.ttf') format('truetype');
}

body {
  font-family: poppins;
  background-color: var(--light-color1);
}

.navbar {
  background-color: var(--dark-color1);
}

.navbar a {
  color: var(--light-color3);
}

.card-header {
  background-color: var(--dark-color1);
}

card-header h2 {
  outline: 0 !important;
}

.card-header button {
  color: var(--light-color2);
}

.card-header button:hover {
  font-weight: bold;
  text-decoration: none;
}

.card-header button:focus {
  /* We remove the outline on the accordion's button click */
  box-shadow: none;
  color: var(--light-color2);
}

.btn-primary {
  background-color: var(--dark-color1) !important;
  border: 0 !important;
  color: var(--light-color2);
}

.btn-primary:active {
  background-color: var(--light-color1) !important;
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
  color: var(--light-color2);
}

.btn-primary:focus {
  background-color: var(--dark-color1) !important;
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
  color: var(--light-color2);
}

 
